h3 {color: white;}
h4 {color:aliceblue}
body {background-color:black;}
p {color: aliceblue;}
    a {color: aliceblue;}
    h2 {color: aliceblue;}
li {color: aliceblue;}
ul {color: aliceblue;}
td {color: aliceblue;}
th {color: aliceblue;}
td {border-radius: 5px;}
img {border-radius: 15px;}
h1 {color:aliceblue}
h4 {border: 1px solid;
width: 100px;}
#bmw img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid transparent
    
     
  }
  #bmw {text-align: center ;}
  #bmw {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQATkKow-2836C4edfMtJ8PXHD_t58NcHvJQ&s); 
    background-position: left;
    background-size:3000px;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAu_7TxWFdJTCth6tdI0Hu5GokeZPToMMtoQ&s) 1% round;
  }
    
  #ferrari {
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQATkKow-2836C4edfMtJ8PXHD_t58NcHvJQ&s);
background-size:100px;
  }
#marea {text-align: center}
#marea table {margin-left: auto;   margin-right: auto;}
#marea {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQATkKow-2836C4edfMtJ8PXHD_t58NcHvJQ&s);}
#mercedes {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQATkKow-2836C4edfMtJ8PXHD_t58NcHvJQ&sS);}
h1 {text-align: center;}
.button {
  text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding: 10px;
    font-family: "Passion One";
    font-size: 20px;
    background-color: #ffffff;
    color: black;
    position: fixed;
    bottom: 889px;
    right: 30px;

}